<h1 style="text-align:center;">Axtwo Playlist</h1>
<h3 style="text-align:center;"> All Artists </h3>

<% @artists.each do |artist| %>
<ol style="text-align:center;"> <a href="/artists/<%=artist.slug%>"> <%= artist.name %></a></ol>
<% end %>
