<h1 style="text-align:center;">Axtwo Playlist</h1>
<h3 style="text-align:center;"> All Songs </h3>

<% @songs.each do |song| %>
<ol style="text-align:center;"> <a href="/songs/<%=song.slug%>"> <%= song.name %></a></ol>
<% end %>
